// Breakpoints--------------------------------------------------------------------------------------
$sm: 479px; // Мобильный - Small (sm)
$md: 767px; // Средний - Medium (md)
$lg: 991px; // Большой - Large (lg)
$xl: 1199px; // Очень большой - Extra large (xl)
$xxl: 1399px; // Огромный - Extra extra large (xxl)

// Ширина контейнера
$maxWidthContainer: 1000;

// Шрифт по умолчанию-------------------------------------------------------------------------------
$fontFamily: "Roboto", sans-serif;
$fontSize: 1rem;

// Цвета--------------------------------------------------------------------------------------------
$colorText: hsl(199, 93%, 4%);
$colorText_light: hsl(199, 93%, 94%);

$colorPrimary: hsl(199, 93%, 45%);
$colorPrimary_hover: hsl(199, 93%, 50%);
$colorPrimary_reflection: hsl(199, 33%, 80%);
